{% extends 'core/base.html' %}
{% load static %}
{% block body %}

   <!-- body -->
   <body class="main-layout">
	<!-- header section start -->
	<div class="header_section header_main">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo"><a href="#"><img src="{% static 'core/images/logo.png' %}"></a></div>
				</div>
				<div class="col-sm-9">
					{% include 'core/nav.html' %}
				</div>
			</div>
		</div>
	</div>
   	<!-- contact section start -->
    <div class="header_section">
    	<div class="container">
    		<h1 class="new_text text-white text-center"><strong>Register Here</strong></h1>
    	</div>
    	<div class="container-fluid ram">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="email_box">
                    <div class="input_main text-white">
                       <div class="container">
                          <form action="" method="POST">
                              {% csrf_token %}
                                {% for fm in form %}
                                 {{fm.label_tag}}
                                 {{fm}}
                                 {{fm.errors|striptags}}<br>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">Send Email</button>  
                          </form>
                       </div>      
                          
                    </div>
    		</div>
    			</div>
    			
    		</div>
    	</div>
    </div>
   	<!-- contact section end -->
	<!-- section footer start -->
	{% include 'core/futter.html' %}
	<!-- section footer end -->
	<div class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></div>

    {% include 'core/js.html' %}

         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         
$('#myCarousel').carousel({
            interval: false
        });

        //scroll slides on swipe for touch enabled devices

        $("#myCarousel").on("touchstart", function(event){

            var yClick = event.originalEvent.touches[0].pageY;
            $(this).one("touchmove", function(event){

                var yMove = event.originalEvent.touches[0].pageY;
                if( Math.floor(yClick - yMove) > 1 ){
                    $(".carousel").carousel('next');
                }
                else if( Math.floor(yClick - yMove) < -1 ){
                    $(".carousel").carousel('prev');
                }
            });
            $(".carousel").on("touchend", function(){
                $(this).off("touchmove");
            });
        });
      </script> 
      {% endblock body %}
